on:
  - push
  - pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: 1.6
            otp: 20.3
          - elixir: 1.8.2
            otp: 21.3
          - elixir: 1.9.4
            otp: 22.2
          - elixir: 1.10.4
            otp: 23.0
          - elixir: 1.13.0
            otp: 24.1
            check_warnings: true
            check_format: true
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix format --check-formatted
        if: ${{ matrix.check_format }}
      - run: mix compile --force --warnings-as-errors
        if: ${{ matrix.check_warnings }}
      - run: mix test --trace
